*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blue-background {
    width: 100vw;
    height: 175px; 
    background-color: rgb(78, 160, 255);
    background-image: url(/img/pattern.png);
    position: relative;
}
.container {
    width: 1024px;
    margin: auto;

}
.booleaner {
    position: absolute;
    height: 75%;
    width: 15%;
    margin-top: 40px;   
    margin-left: 25vw; 
}
.font {
    font-size: 70px;
    margin-top: 25px;
}
#grey {
    font-size: 15px;
    color: lightgray;
}
#blue {
    color: aqua;
}
#small {
    font-size: 10px;
    color: lightgray;
    margin-bottom: 20px;
}
#alsosmall {
    font-size: 12px;
}
.main-text {
    margin-top: 20px;
    margin-bottom: 25px;
}
.yellow {
    background-color: yellow;
}