*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blue-background {
    width: 100vw;
    height: 175px; 
    background-color: rgb(78, 160, 255);
    background-image: url(/img/pattern.png);
    position: relative;
}
.container {
    width: 1024px;
    margin: auto;
}
.booleaner {
    position: absolute;
    height: 75%;
    width: 15%;
    margin-top: 40px;   
    margin-left: 29vw; 
}
.font {
    font-size: 40px;
    margin-top: 25px;
}
.grey {
    font-size: 15px;
    color: rgb(171, 171, 171);
    font-weight: bold;
}
#blue {
    color: aqua;
}
#small {
    font-size: 10px;
    color: rgb(171, 171, 171);
    margin-bottom: 20px;
}
#alsosmall {
    font-size: 12px;
}
.main-text {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}
.yellow {
    background-color: yellow;
}
.padding-left {
    padding-left: 15px;

}
.table1 {
    width: 1024px;
    font-weight: bold;
    margin-top: 25px;
    border-spacing: 0px; 
}
.table-head {
    background-color: rgb(32, 169, 229);
    color: white;
    text-align: left;
}
.tbody-background {
    background-color: rgb(177, 229, 242);
}
.tbody-height {
    height: 50px;
}
.width {
    width: 50%;
}
.image-container {
    position: relative;
    width: 20%;
}
.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
}
.fit {
    width: auto;
    max-width: 100%;
}